@import "./reset.css";
@import "tailwindcss";

@theme {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-search-bg: var(--search-bg);
  --color-search-text: var(--search-text);
}

@layer base {
  :root {
    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray400: #9ca3af;
    --gray500: #6b7280;
    --gray600: #4b5563;
    --gray700: #374151;
    --gray800: #1f2937;
    --gray900: #111827;
  }

  html[data-theme="light"] {
    --bg: white;
    --modal-bg: hsla(0, 0%, 98%, 0.85);
    --text: black;
    --search-bg: var(--gray100);
    --search-text: var(--gray800);
  }

  html[data-theme="dark"] {
    --bg: var(--gray800);
    --modal-bg: hsla(0, 0%, 10%, 0.85);
    --text: var(--gray300);
    --search-bg: var(--gray700);
    --search-text: var(--gray400);
  }
}

@layer utilities {
  .bg-base {
    background-color: var(--bg);
  }
  .text-base {
    color: var(--text);
  }
  .bg-search {
    background-color: var(--search-bg);
  }
  .text-search {
    color: var(--search-text);
  }
  .bg-modal {
    background-color: var(--modal-bg);
  }
}
