@import "./reset.css";
@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-search-bg: var(--search-bg);
  --color-search-text: var(--search-text);
  --color-modal-overlay: var(--modal-overlay);
  --color-modal-left: var(--modal-left);
  --color-muted: var(--muted);
  --color-navbar-tab: var(--navbar-tab);
  --color-main-bg: var(--main-bg);
}

@layer base {
  :root {
    --primary: #0e9f6e;
    --primary-muted: #f3faf7;
    --black-700: #323232;
    --black-800: #232323;
    --black-900: #191919;
    --gray-100: #f9fafb;
    --gray-200: #f3f4f6;
    --gray-300: #d1d5db;
    --gray-400: #bbbbbb;
    --gray-500: #9ca3af;
    --gray-600: #666666;
    --gray-700: #424242;
  }

  html[data-theme="light"] {
    --bg: var(--gray-200);
    --text: black;
    --muted: var(--gray-700);
    --search-bg: var(--gray-300);
    --search-text: var(--gray-700);
    --modal-overlay: hsla(0, 0%, 90%, 0.6);
    --modal-left: var(--gray-100);
    --navbar-tab: var();
    --main-bg: white;
  }

  html[data-theme="dark"] {
    --bg: var(--black-900);
    --text: white;
    --muted: var(--gray-400);
    --search-bg: var(--black-800);
    --search-text: var(--gray-400);
    --modal-overlay: hsla(0, 0%, 10%, 0.6);
    --modal-left: var(--gray-700);
    --navbar-tab: var(--black-700);
    --main-bg: var(--black-800);
  }
}
